snippet #break "set breakpoint" A
import pdb; pdb.set_trace()
$0
endsnippet

snippet #gdoc "Google-style docstring" A
"""
Args: 
   $1
Raises:
   $2
Returns:
   $3
"""
$0
endsnippet

snippet #utf "UTF-8 declaration" A
# -*- coding: utf-8 -*-
$0
endsnippet

snippet #init "python init" A
if __name__ == "__main__":
	$0
endsnippet

